/* LICENSE & DETAILS
   ==================================================

	Theme Name: Dante Child Theme
	Theme URI: http://dante.swiftideas.net
	Description: A Retina Responsive Multi-Purpose WordPress Theme - Designed & Developed by Swift Ideas ( www.swiftideas.net )
	License: GNU General Public License version 3.0
	License URI: http://www.gnu.org/licenses/gpl-3.0.html
	Template: dante
	Version: 1.0
	Author: Swift Ideas
	Author URI: www.swiftideas.net

	All files, unless otherwise stated, are released under the GNU General Public License
	version 3.0 (http://www.gnu.org/licenses/gpl-3.0.html)

   ==================================================
   */

/* --------------------------------------------
	DANTE CSS IMPORT
	-------------------------------------------- */

	@import url("../dante/style.css");


/* --------------------------------------------
	CHILD THEME CSS
	-------------------------------------------- */

	/* Webinar Style*/
	.padding-webinar {
		padding-right: 40px;
		padding-left: 40px;
	}

	/*ticker*/
	.full-width-area.blog-masonry-fw {
		padding: 0 !important;
	}
	.mtphr-dnt img {
		max-width: none !important;
	}

	/*header*/
	.tb-welcome {
		display: none !important;
	}

	.video-container {
		position: relative;
		padding-bottom: 55.15%;
		padding-top: 30px; height: 0; overflow: hidden;
	}

	.video-container iframe,
	.video-container object,
	.video-container embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}


	.intro-video {
		position: relative;
		top: -150px !important;
		z-index: 1 !important;
	}


	/* Smartphones ----------- */
	@media only screen 
	and (max-width : 580px) {


		.intro-video {
			position: relative;
			top: -90px !important;
			z-index: 1 !important;
		}

	}

	#sb-container {
		position: absolute !important;
	}

	#sb-container .modal form .one_half {
		min-height: 65px;
	}

	#sb-container .modal form .help-block {
		position: absolute;
		bottom: 0;
	}

	#footer-gc-properties-logos {
		text-align: center;
		line-height: 100px;
	}

	#footer-gc-properties-logos img.property-logo {
		width: 75%;
	}

	